@import "custom_font.css";
body {
  margin: 0;
  background-color: #fdf6e3;
  font-family: JetBrainsMono-Regular;
}
p {
  padding: 10px 30px;
  font-size: 1.25em;
}
a {
  display: block;
  padding: 10px 16px;
  /* padding: 10.526% 21.052%; */
  text-decoration: none;
}
div#add-a-note {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 700px;
  height: 200px;

  border-color: #382214;
  border-style: solid;
  background-color: #fdf6e3;
  z-index: 9;
}.search-box {
  width: 600px;
  background: #fff;
  margin: 200px auto 0;
  border-radius: 5px;
}
.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  color: #333;
}
::placeholder {
  color: #555;
}

.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.result-box ul li:hover {
  background: #e9f3ff;
}
.result-box {
  max-height: 300px;
  overflow-y: scroll;
}

  color: #555;
}
.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.result-box ul li:hover {
  background: #e9f3ff;
}
