@import "custom_font.css";
body {
  margin: 0;
  background-color: #fdf6e3;
  font-family: JetBrainsMono-Regular;
}
p {
  padding: 10px 30px;
  font-size: 1.25em;
}
a {
  display: block;
  padding: 10px 16px;
  /* padding: 10.526% 21.052%; */
  text-decoration: none;
}
img {
  background-color: #fdf6e3;
}
/* Pop up */
#addANote {
  background-color: #fdf6e3;
  border: solid 2px #382214;
  border-radius: 20px;
  box-shadow: 5px 8px 20px -5px #38221432;
  width: 70%;
  height: 500px;
  position: fixed;
  top: 140px;
  left: 15%;
  visibility: hidden;
  /* transition: transform 0.4s, top 0.4s; */
  /* transform: translate(-50%, -50%) scale(0.1); */
}
.open-addANote {
  visibility: visible;
  /* top: 50%; */
  /* transform: translate(-50%, -50%) scale(1); */
}
