body {
  background-color: #fdf6e3;
}
header h1 {
  font-family: JetBrainsMono-Regular;
  font-size: 300%;
  margin: 0% 22%;
  padding: 0% 10% 5% 10%;
  text-align: center;
  color: #382214;
  line-height: 140%;
  cursor: default;
}
div#master-your-tasks {
  max-width: 50%;
  font-family: JetBrainsMono-Regular;
  font-size: 150%;
  margin: 0% 22%;
  text-align: center;
  color: #382214;
  line-height: 140%;
  cursor: default;
}
