@import "custom_font.css";

body {
  margin: 0;
  background-color: #fdf6e3;
  font-family: JetBrainsMono-Regular;
  color: #382214;
}
section {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: row;
    flex-wrap: wrap; */
}
header,
footer,
div,
img {
  /* border-style: dotted;
  border-color: #fdf6e300; */
  box-sizing: border-box;
}
div {
  padding-left: 10%;
  width: 60%;
}
a.get-started-button {
  background-color: #382214;
  color: white;
  padding: 0.5em 1em;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
}

/* HEADER */
header {
  position: -webkit-sticky;
  position: sticky;
  background-color: #eee8d5;
  top: 0;
  margin: 0;
  padding: 0;
}
header h1 {
  text-align: center;
}

/* MASTER YOUR NOTES */
#master-your-notes div {
  padding-top: 12%;
  width: 60%;
}
#master-your-notes div h2 {
  font-size: 2em;
  text-align: justify;
}
img#first-image {
  resize: auto;
  width: 40%;
}

/* INTRODUCING FOCUS FLOW */
#introduce-ff {
  background-color: #eee8d5;
}
#introduce-ff h2 {
  /* margin: 0% 0% 0% 0%; */
  font-size: 1.8em;
  font-weight: bold;
}
#introduce-ff p {
  padding: 5% 6% 1% 3%;
  font-size: 1.15em;
}
#introduce-ff ol li {
  font-weight: 550;
  padding: 1em;
  font-size: 1.1em;
}
a {
  margin: 1% 2%;
}
img#second-image {
  resize: auto;
  width: 40%;
}
/* EASY AND ROBUST */
img#third-image {
  resize: auto;
  width: 38%;
}

/* FOOTER */
footer div {
  width: 95%;
  font-size: 1em;
  height: 42px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee8d5;
}
footer li {
  display: inline;
  margin: 0;
  padding: 0;
}

footer li:last-child {
  border-right: none;
}

footer li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  color: #382214;
}

footer li a:hover:not(.active) {
  background-color: #ddd6c1;
}
