body {
  margin: 0;
  background-color: #fdf6e3;
}

nav ul {
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
  width: 76px;
  background-color: #ddd6c1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

a.functional_icon {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

a.active.functional_icon {
  background-color: #fdf6e3;
  color: white;
}

li a:hover:not(.active) {
  background-color: #fdf6e3;
  color: white;
}
a.functional_icon img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 100%;
  height: auto;
}

a.functional_icon img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
header h1#homepage {
  padding: 0px 25px;
  text-align: center;
  /* background: #ddd6c1; */
  color: #584c27;
  font-size: 30px;
}
