@import "custom_font.css";
body.homepage {
  margin: 0;
  background-color: #fdf6e3;
}

nav.homepage {
  overflow: hidden;
  position: fixed;
  top: 15px;
}

nav.homepage ul {
  list-style-type: none;
  /* margin-top: -10px; */
  border-radius: 10px;
  padding: 0;
  width: 76px;
  background-color: #ddd6c1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

a.functional_icon {
  display: block;
  color: #000;
  padding: 10px 16px;
  /* padding: 10.526% 21.052%; */
  text-decoration: none;
}

a.active.functional_icon {
  background-color: #fdf6e3;
  color: white;
}

li a:hover:not(.active) {
  background-color: #fdf6e3;
  color: white;
}
a.functional_icon img {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1px;
  width: 100%;
  height: auto;
}

a.functional_icon img:hover {
  box-shadow: 0 0 2px 1px #ffffff;
}
header.homepage h1 {
  font-family: JetBrainsMono-Regular;
  font-size: 250%;
  padding: 0px 25px 30px 25px;
  text-align: center;
  /* background: #ddd6c1; */
  color: #584c27;
}
section.homepage p {
  font-family: JetBrainsMono-Regular;
  font-size: 150%;
  margin: 2.5% 22%;
  text-align: left;
  color: #382214;
}
pre#background-text-homepage {
  font-family: JetBrainsMono-Regular;
  font-size: 150%;
  margin: 0% 22%;
  text-align: left;
  color: #382214;
  line-height: 140%;
  cursor: default;
}
