.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
service-account.json
focusflow-27541-firebase-adminsdk-wh68m-9910d238c6.json